# Virtual Environment
venv/

# MLflow
mlruns/
mlartifacts/
mlflow.db

# Model artifacts
model.joblib

# Python cache
__pycache__/
*.pyc
.venv/

# OS files
.DS_Store
Thumbs.db

# MLflow local artifacts
mlruns/
mlflow.db
# Training outputs
MLProject/metric_info.json
MLProject/training_confusion_matrix.png
# Virtual env
.venv/

